.home {
    position: fixed;
    left: 20px;
    top: 20px;
    cursor: pointer;
}

.container {
    text-align: center;
}

.booking__container {
    border: black 1px solid;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px;
    padding: 25px;
    border-radius: 10px;
}

.mat-raised-button {
    margin: 5px 20px;
    height: 40px;
    width: 100px;
    color: white;
}


.accept {
    background-color: green;
}

.reject {
    background-color: red;
}